// Customization bootstrap

// Spacing
$spacer: 1.25rem;

// Comon
$border-radius: 10px;

// Buttons
$input-btn-padding-y: .625rem;
$input-btn-padding-x: 1rem;
$input-btn-line-height: 1.4;

$input-btn-padding-y-sm: .375rem;
$input-btn-padding-x-sm: .9375rem;
$input-btn-font-size-sm: .75rem;
$input-btn-line-height-sm: 1;

$btn-border-radius-sm: 6px;

// Cards
$card-border-radius: $border-radius;
